.fade-container {
    position: relative;
    display: inline-block;
    padding: 10px;
  }

  .fade-text {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    animation: fadeAnimation 6s infinite;
    height: 40px; 
    display: flex;
    align-items: center;
  }

  @keyframes fadeAnimation {
    0% {
      background-color: rgba(255, 255, 255, 1);
    }
    50% {
      background-color: rgba(255, 255, 255, 0.2);
    }
    100% {
      background-color: rgba(255, 255, 255, 1);
    }
  }

/* 默认样式，适用于电脑 */
.bordered {
  box-shadow: 0 0 10px rgb(215 130 245); 
  padding: 40px;
  display: flex;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: auto;
  overflow: hidden;
  background:rgb(219 218 219 / 59%); 
}

.bordered:hover {
  box-shadow: 5px 5px 10px rgb(54 174 231 / 80%); 
}

.window {
  flex: 1;
  height: 100%;
}

.image-container {
    margin-right: 40px;
    flex-shrink: 0; 
    width:auto; 
    height:auto; 
    
  }

  .content {
    margin-left: 40px;
    text-align: center;
    flex-grow: 1; 
  } 

.content-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  max-width:1400px; 
  margin: 0 auto; 
}

/* 媒体查询，适用于手机 */
@media screen and (max-width: 768px) {
  .bordered {
    /* 手机样式规则 */
    box-shadow: 0 0 10px rgb(215 130 245); 
    flex-direction: column;
    padding: 40px;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    width: 75%;
    background:rgb(219 218 219 / 59%); 

  }


  .window {
    
    width: 80%;
    margin: 10px;
  }

  .content {
    margin-left: -40px;
    flex-grow: 1; 
  } 


  .content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  margin: 0 auto; 
}

}
